@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

:root {
  --clr-primary-1: hsl(219, 82%, 22%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 62%);
  --clr-primary-4: hsl(205, 90%, 88%);
  --clr-primary-5: hsl(205, 100%, 96%);

  --clr-grey-1: #102a42;
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(211, 36%, 88%);
  --clr-grey-6: hsl(210, 36%, 96%);
  --clr-white-1: #fff;

  /* very yellow - used for buttons and hovers */
  --button-color-0: hsl(32, 88%, 50%);
  --button-color-1: hsl(41, 98%, 48%);
  --button-color-2: hsl(39, 95%, 59%);
  --button-color-3: hsl(212, 87%, 18%);
  --button-color-4: hsl(214, 76%, 19%);
  --button-color-5: hsl(320, 85%, 42%);

  --hover-color-1: hsl(44, 88%, 50%);

  --mainTransition: all 0.4s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 3px rgba(0, 0, 0, 0.5);

  --nav: #042647;

  --alert-color-1: hsl(22, 97%, 50%);
  --general-yellow: hsl(41, 86%, 54%);

  --ham-color-1: rgb(146, 155, 163);
  --ham-color-2: rgb(245, 185, 19);
  --ham-color-3: #201f6b;
}
::selection {
  color: var(--button-color-5);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.app {
  min-height: 100vh;
  background: var(--clr-grey-6);
}

/*
========================================================================================================================
   Globals
========================================================================================================================
  */
.text-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}
.blue-text {
  color: var(--clr-primary-1);
}
.white-bg {
  background-color: #dcdad1;
}
.text-popins {
  font-family: "Poppins", sans-serif !important;
}
.bold-text {
  color: var(--clr-primary-1);
  font-weight: 500;
}

.yellow-text {
  color: var(--general-yellow);
}
.red-text {
  color: var(--alert-color-1);
}
.blue-txt {
  color: var(--clr-primary-3);
}

.justify-body {
  text-align: justify;
}
.center-content {
  text-align: center;
}

.fas {
  font-size: 1.2rem;
  transition: var(--mainTransition);
}
.fas:hover {
  color: var(--hover-color-1) !important;
  cursor: pointer;
}

/*
========================================================================================================================
  Form Button
========================================================================================================================
  */
.secondary-btn {
  width: 18.84rem;
  height: 2.5rem;
  border-radius: 1.2rem;
  background: var(--button-color-1);
  border: 1px solid var(--clr-primary-2);
  outline-width: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0.4rem;
  outline: var(--button-color-1);
  color: var(--clr-primary-1);
  letter-spacing: var(--mainSpacing);
}
.secondary-btn:hover {
  transition: var(--mainTransition);
  background: var(--button-color-2);
  cursor: pointer;
  outline: none;
}

.secondary-btn:focus {
  outline: none;
}
