@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Poppins:wght@300&display=swap");

:root {
  --mainBlue: #170f8b;
  --Blue: #03042e;
  --lightBlue: #0fa3f8;
  --mainWhite: white;
  --editWhite: #dfebf0;
  --mainDark: #232528;
  --mainYellow: #ffae00;
  --secYellow: #f7bb39;
  --lightRed: #f10e8f;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 3px rgba(0, 0, 0, 0.5);
  --profileBg: #c0d5d0;
  --formBg: #678e82;
  --navbar: #55a49e;
}
::selection {
  color: var(--lightRed);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.app {
  height: 100vh;
  background-color: var(--mainWhite);
}
.navbar {
  background: var(--navbar);
}
.nav-text {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--mainYellow) !important;
}

/*Globals*/
.text-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}
.blue-text {
  color: var(--mainBlue);
}
.white-bg {
  background-color: #dcdad1;
}
.text-popins {
  font-family: "Poppins", sans-serif !important;
}
.bold-text {
  color: var(--Blue);
  font-weight: 500;
}
.light-blue {
  color: var(--lightBlue);
}
.yellow-text {
  color: var(--mainYellow);
}
.red-text {
  color: var(--lightRed);
}
.blue-txt {
  color: var(--lightBlue);
}

.justify-body {
  text-align: justify;
}
.center-content {
  text-align: center;
}
.fas {
  font-size: 1.2rem;
  color: var(--Blue);
  transition: var(--mainTransition);
}
.fas:hover {
  color: var(--mainYellow);
  cursor: pointer;
}

/* form btns*/
.secondary-btn {
  width: 18.7rem;
  height: 2.5rem;
  background: var(--mainYellow);
  border-color: var(--mainYellow);
  outline-width: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0.3rem;
  outline: var(--mainYellow);
  color: var(--Blue);
  letter-spacing: var(--mainSpacing);
  outline: none;
  border-color: var(--mainYellow);
}
.secondary-btn:hover {
  transition: var(--mainTransition);
  background: var(--secYellow);
  cursor: pointer;
}
